body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 50px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.25);
    border-radius: 10px;
}
#transaction-area{
    display: none;
}
.status{
    margin-top: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.withdraw{
    background-color: tomato;

}
.balance{
    background-color: violet;
}
.diposit{
    background-color: salmon;
}